@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Magra&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 150px;
    min-height: 100vh;
}

.navbar {
    box-shadow: 3px 2px 10px 0px #ddd;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: 0px -1px 0px 1px #ddd;
    padding: 20px;
}

.footer_left {
    width: 50%;
    float: left;
}

.footer_right {
    width: 40%;
    float: right;
}

.h6_footer_left {
    margin-left: 100px;
}

.h6_footer_right {
    margin-left: 122px;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar-nav a {
    color: #1E52EC !important;
}

.dropdown-menu a {
    color: grey !important;
}

.h1_login {
    margin-bottom: 50px;
    margin-left: 150px;
}

.h1_register {
    margin-left: 135px;
}

.img_login {
    width: 100%;
    margin-top: 220px;
}

.img_jumbotron {
    width: 100%;
}

.input_login {
    height: 50px;
}

.button_login {
    margin-top: 50px;
}

.form_login_right,
.form_register_right {
    margin-top: 175px;
    margin-left: 100px;
}

.h1_event {
    margin-left: 175px;
}

.file_upload_left {
    width: 400px;
    margin-top: 5px;
    margin-left: 90px;
    margin-bottom: 50px;
    border-radius: 30px;
    padding-bottom: 245px;
    background-color: #0E3C4D;
}

.file_detail_left {
    width: 430px;
    margin-left: 90px;
    padding-bottom: 60px;
    border-radius: 30px;
    background-color: #0E3C4D;
}

.form_add_left {
    background-color: #ffffff;
    margin-left: 35px;
}

.img_add {
    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 200px;
    width: 45px;
}

.img_detail {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 15px;
    width: 45px;
}

.file_upload_right {
    width: 500px;
    margin-top: 20px;
    margin-left: -100px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 3px #ddd;
}

.file_detail_right {
    width: 500px;
    margin-top: 20px;
    margin-left: -35px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px 3px #ddd;
}

.form_add_right {
    padding-top: 20px;
    margin-left: 125px;
}

.form_detail_right {
    padding-top: 20px;
    margin-left: 50px;
}

.btn_add {
    margin-left: 550px;
    margin-bottom: 100px;
    width: 300px;
}

.a_add {
    font-size: 20px;
    color: black;
    margin-left: auto;
    margin-right: 150px;
    padding-bottom: 20px;
}

.form_add_right_static input {
    margin-left: 50px;
}

.form_add_right_input {
    border-bottom: 1px solid #0E3C4D;
}

.form_add_right input,
.form_add_right textarea {
    text-decoration: none;
    border: none;
    background: none;
}

input:focus {
    outline: none;
    text-decoration: none;
    border: none;
    background: none;
}

.form_add_right_link {
    width: 410px;
    margin-left: -50px;
    border-radius: 0px 0px 30px 0px;
    background-color: #2AA8D8;
}

.form_detail_right_link {
    width: 485px;
    margin-left: -50px;
    border-radius: 0px 0px 30px 0px;
    background-color: #2AA8D8;
}

.form_add_right_link input {
    margin-left: 20px;
}

.img_detail_db {
    margin-left: 55px;
}

.desc_jumbotron {
    float: right;
    padding-top: 25px;
    padding-left: 75px;
}

.desc_jumbotron p,
.desc_jumbotron a {
    font-size: 43px;
    font-weight: 100;
}

.titleCreateEvent {
    margin-left: 50px;
}

.p_createEvent {
    border-bottom: 1px solid #0E3C4D;
    margin-left: -50px;
    width: 220px;
    margin-bottom: 10px;
}

.btn_detailEvent {
    padding-left: 60px;
    padding-bottom: 50px;
}

.btn_detail {
    border-radius: 30px 30px 30px 30px;
}

.card_event {
    max-width: 700px;
    margin-left: 250px;
    border: none;
}

.p_event {
    font-weight: bold;
    margin-left: 80px
}

.img_event {
    margin-left: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767.98px) {
    .h1_login,
    .h1_register {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 110px;
        font-size: 20px;
    }
    .input_login {
        height: 40px;
        margin-top: 5px;
    }
    .form_input_login {
        width: 80%;
        margin-left: 20px;
    }
    .h6_login {
        font-size: 12px;
    }
    .h6_footer_left {
        margin-left: 62px;
    }
    .h6_footer_right {
        margin-left: 77px;
    }
    .h6_footer_left,
    .h6_footer_right,
    .h6_footer_left_title,
    .h6_footer_right_title {
        font-size: 10px;
    }
    .img_add {
        margin-top: 15px;
        margin-left: 15px;
        padding-bottom: 100px;
        width: 45px;
    }
    .img_login {
        width: 80%;
        margin-left: 35px;
        margin-top: 50px;
    }
    .button_login {
        margin-top: 10px;
    }
    .form_login_right,
    .form_register_right {
        margin-top: 10px;
        margin-left: 10px;
    }
    .h1_event {
        margin-left: 70px;
        font-size: 25px;
    }
    .form_add_left {
        background-color: #ffffff;
        margin-left: 7px;
    }
    .file_upload_left {
        width: 280px;
        margin-top: 5px;
        margin-left: 20px;
        padding-bottom: 100px;
        border-radius: 30px;
        background-color: #0E3C4D;
    }
    .file_detail_left {
        width: 280px;
        margin-left: 20px;
        padding-bottom: 50px;
        border-radius: 30px;
        background-color: #0E3C4D;
    }
    .img_detail_db {
        margin-left: 35px;
        height: 250px;
        width: 185px;
    }
    .img_detail {
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 15px;
        width: 37px;
    }
    .file_upload_right {
        width: 280px;
        margin-top: -40px;
        margin-left: 20px;
        border-radius: 30px;
        background-color: #ffffff;
        box-shadow: 0px 0px 2px 3px #ddd;
    }
    .file_detail_right {
        width: 280px;
        margin-top: -10px;
        margin-left: 20px;
        border-radius: 30px;
        background-color: #ffffff;
        box-shadow: 0px 0px 2px 3px #ddd;
    }
    .p_createEvent {
        border-bottom: 1px solid #0E3C4D;
        width: 220px;
        margin-bottom: 10px;
    }
    .titleCreateEvent {
        margin-left: 0;
    }
    .fillevent {
        margin-left: -10px;
    }
    .form_add_right_link {
        width: 280px;
        margin-left: -65px;
        border-radius: 0px 0px 30px 30px;
        background-color: #2AA8D8;
    }
    .form_detail_right_link {
        width: 280px;
        margin-left: -65px;
        border-radius: 0px 0px 30px 30px;
        background-color: #2AA8D8;
    }
    .a_add {
        font-size: 20px;
        color: black;
        margin-left: auto;
        margin-right: 20px;
        padding-bottom: 20px;
    }
    .btn_add {
        margin-left: 10px;
        margin-bottom: 20px;
        width: 300px;
    }
    .form_add_right_link input {
        margin-left: 0px;
    }
    .p_jumbotron {
        font-size: 1px;
    }
    .desc_jumbotron p,
    .desc_jumbotron a {
        margin-left: -40px;
        font-size: 20px;
        font-weight: 100;
    }
    .card_event {
        max-width: 700px;
        margin-left: 20px;
        border: none;
    }
    .img_event_dashboard {
        height: 200px;
        width: 130px;
    }
}